<a href="#">Build</a>
<div>
  <dl>
    <dt>Build tool</dt>
    <dd><%= report.build_tool %></dd>
    <dt>Targets</dt>
    <dd><%= report.targets %></dd>
  </dl>

  <h2>Tasks</h2>

  <ul>
    <%= report.tasks.collect { |task| render_report task, :gist }.reject { |html| html.strip.blank? }.collect { |html| %{<li>#{html}</li>} }.join("\n") %>
  </ul>
</div>
