<% if @build.output %>
  <% output = TinyCI::Output.new(@build.output) %>
  
  <% if @report == 'raw' %>
    <%= render :partial => 'raw_output', :locals => { :output => output } %>
  <% else %>
    <ul>
      <li><%= render_report TinyCI::OutputParser::RakeParser.parse(output), @report %></li>
    </ul>
  <% end %>
<% else %>
  <p>No output (yet)</p>
<% end %>
