<% if @build.output %>
  <% output = TinyCI::Output.new(@build.output) %>
  
  <% if @report == 'raw' %>
    <%= render :partial => 'raw_output', :locals => { :output => output } %>
  <% else %>
    <ul>
      <% output.split_by_command.each do |part| %>
        <% parser = TinyCI::OutputParser.parser_for(part.peek.command) %>
        <% if parser %>
          <li><%= render_report parser.parse(part), @report %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
<% else %>
  <p>No output (yet)</p>
<% end %>
