<%= juggernaut :channels => ["build_#{@build.name}_#{@build.position}"] %>

<%= auto_update 'build' unless @build.finished? %>
<div id="build">
  <%= render :partial => "build" %>
</div>

<div id="bottom_anchor"></div>
<p><%= link_to 'Back to Builds', project_plan_builds_path(@project, @plan) %></p>
