<p>
  Please fill out the following information to get started with TinyCI. This is the mimimal configuration necessary
  for the correct operation of TinyCI. This is why you can not change this configuration later on in the user interface.
</p>

<p>
  To change the configuration later, either
</p>

<ul class="asterisk">
  <li>edit the <code>.yml</code> files in <code><%= RAILS_ROOT %>/config/</code> and restart TinyCI, or</li>
  <li>remove all <code>.yml</code> files in <code><%= RAILS_ROOT %>/config/</code> and restart TinyCI to get this setup wizard again.</li>
</ul>

<p><strong>ATTENTION</strong> If you change the database configuration later on (for example the database name), your data may not be accessible anymore.</p>
