<p>
  Bitte füllen Sie die folgenden Informationen aus, um TinyCI zu konfigurieren. Das ist die minimale nötige Konfiguration,
  die nötig ist, damit TinyCI korrekt funktioniert. Daher können Sie diese Konfiguration später in den Einstellungen nicht mehr ändern.
</p>

<p>
  Um die Konfiguration trotzdem zu ändern, müssen Sie entweder
</p>

<ul class="asterisk">
  <li>die <code>.yml</code>-Dateien in <code><%= RAILS_ROOT %>/config/</code> bearbeiten und TinyCI neu starten, oder</li>
  <li>alle <code>.yml</code>-Dateien in <code><%= RAILS_ROOT %>/config/</code> löschen und TinyCI neu starten, um erneut auf diese Seite zu gelangen.</li>
</ul>

<p><strong>ACHTUNG</strong> Falls Sie die Datenbankkonfiguration später ändern (z.B. den Datenbanknamen), können Sie möglicherweise nicht mehr auf Ihre Daten zugreifen.</p>
