<h1>Neustart ...</h1>

<p>Bitte warten Sie, während TinyCI neu gestartet wird.</p>

<p>In wenigen Augenblicken werden Sie auf die Startseite weitergeleitet. Falls nciht, <%= link_to 'klicken Sie bitte hier, um auf die Startseite zu gelangen', '/' %>.</p>
