.report ul li { list-style: none; background-image: url("/images/dotted.gif"); background-repeat: repeat-y; padding: 2px 0 2px 20px; text-indent: -19px; background-position: 9px 0; }
.report ul li > * { text-indent: 0px; }
.report ul li a { background-image: url("/images/bullete.gif"); background-position: left; background-repeat: no-repeat; padding: 2px 0 2px 20px; line-height: 20px; }
.report ul li:last-child { background-repeat: no-repeat; }

dl { border: 1px solid gray; margin: 1em 0; padding: 1em; }
dl dt { font-weight: bold; width: 10em; }
dl dd { margin-left: 12em; top: -1em; position: relative; margin-bottom: -0.5em;}

.test-report h4 { margin-bottom: 1em; }
.test-report tr.success:nth-child(even) { background-color: green; }
.test-report tr.success:nth-child(odd) { background-color: lime; }
.test-report tr.failure:nth-child(even) { background-color: purple; }
.test-report tr.failure:nth-child(odd) { background-color: red; }
.test-report table { border: 1px solid gray; width: 100%; }
.test-report th { text-align: left; border-bottom: 2px solid gray; }

.test-report th.status,
.test-report td.status,
.test-report th.duration,
.test-report td.duration { width: 6em; }

.raw-output { overflow-x: auto; overflow-y: hidden; white-space: nowrap; }
.raw-output td.row { background-color: lightgrey; }
.raw-output td.timestamp {  }
.raw-output td.command { background-color: lightgrey; font-family: Courier;  }
.raw-output td.line { font-family: Courier; }
