<a href="#">Build</a>
<div>
  <dl>
    <dt>Build tool</dt>
    <dd><%= report.build_tool %>&nbsp;</dd>
    <dt>Targets</dt>
    <dd><%= report.targets %>&nbsp;</dd>
  </dl>

  <h2>Tasks</h2>

  <ul class="tasks">
    <%= report.tasks.collect { |task| task.to_html(:details) }.reject { |html| html.strip.blank? }.collect { |html| %{<li>#{html}</li>} }.join("\n") %>
  </ul>
</div>
