<h1>Listing Projects</h1>

<ul class="action-list">
  <li><%= link_to 'Details', projects_path(:report => 'list') %></li>
  <li><%= link_to 'Overview', projects_path(:report => 'overview') %></li>
</ul>

<%= render :partial => @report, :locals => { :projects => @projects } %>

<p><%= link_to 'New Project', new_project_path %></p>
