<ul class="plan-overview">
  <% plans.each do |plan| %>
    <li>
      <div class="status">
        <%= image_tag "icons/large/#{plan.status}.png" if plan.status %>
      </div>
      <div class="details">
        <%= link_to plan.name, plan_path(plan) %>
      </div>
    </li>
  <% end %>
</ul>
<div class="clearer"></div>
